<!doctype html>
<html class="no-js" lang="en" data-ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Angular Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/vendor/bootstrap/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="assets/css/vendor/bootstrap/bootstrap-theme.min.css" media="screen">
        <script type="text/javascript" src="assets/js/vendor/modernizr/modernizr.min.js"></script>
    </head>
    <body data-ng-controller="MainCtrl as mc">
      <header class="container">
        <div class="page-header">
          <h1>Angular Play <small>Testing cool angular features</small></h1>
        </div>
      </header>

      <div class="container">
        <form>
          <div class="form-group">
            <input class="form-control" type="text" data-ng-model="mc.text"/><br/>
          </div>
          <p>
            {{mc.text | reverse}}
          </p>
        </form>
      </div>

      <!-- <div class="container">
        <form name="myForm" novalidate data-ng-controller="FormCtrl as fc" data-ng-submit="submit(name)">

          <div class="form-group">
            <input required placeholder="Enter name" type="text" class="form-control" name="myName" data-ng-model="mc.name" data-begins-with-capital>
          </div>
          <div data-ng-messages="myForm.myName.$error">
            <p class="text-danger" data-ng-message="firstLetterCapital" role="alert">
              The name must begin with a capital letter.
            </p>
            <p class="text-danger" data-ng-message="required" role="alert">
              You must input a name.
            </p>
          </div>


          <div class="form-group">
            <button class="btn btn-success" type="submit" name="submit">Done!</button>
          </div>
        </form>
      </div>

      <div class="container">
        <p class="text-info" current-time="format"></p>
      </div> -->


      <script type="text/javascript" src="assets/js/vendor/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="assets/js/vendor/bootstrap/bootstrap.min.js"></script>
      <script type="text/javascript" src="assets/js/vendor/angular/angular.min.js"></script>
      <script type="text/javascript" src="assets/js/vendor/angular/angular-ui-router.min.js"></script>
      <script type="text/javascript" src="assets/js/vendor/angular/angular-messages.min.js"></script>
      <script type="text/javascript" src="app/app.js"></script>

    </body>
</html>
